:root {
    --base-color: #353535;
    --text-color: #f0f0f0;
}

body {
    background-color: var(--base-color);
}

* {
    color: rgb(235, 229, 222);
}

table {
    border: 3px solid var(--text-color);
}

td>.table-cell {
    min-width: 4em;
    min-height: 4em;
    border: 1px solid var(--text-color);
    display: flex;
    flex-wrap: wrap;
}

.label-content {
    display: inline;
    font-size: large;
}

.label-arrow {
    display: inline;
    font-size: x-large;
}

#x-axis-label {
    text-align: right;
}

#grid-container {
    width: fit-content;
}

#image-bank {
    margin-top: 0.5em;
    min-height: 5vmin;
    border: 3px solid var(--text-color);
}

img {
    width: 4em;
    height: 4em;
}

.gu-mirror {
    display: none;
}